*
!*.[ch]pp
!*.[ch]
!CMakeLists.txt
!OPTIONS
!data/
!data/ngc5548_cont.txt
!data/ngc5548_line.txt
!src/cdnest/
!src/cdnest/*.[ch]
!src/cdnest/CMakeLists.txt
!param.txt
!example.py
!.gitignore
!README.rst
!data/plot_results.py
!LICENSE
!docs/
!docs/conf.py
!docs/*.rst
!docs/_static
!docs/_static/*.jpg
!src/
!src/*.[hc]pp
!src/CMakeLists.txt
