*
!*.[ch]pp
!*.[ch]
!Makefile_old
!CMakeLists.txt
!OPTIONS
!pyproject.toml
!readthedocs.yaml
!data/
!data/ngc5548_cont.txt
!data/ngc5548_line.txt
!src/
!src/pycali 
!src/CMakeLists.txt
!src/pycali/*.py
!src/pycali/CMakeLists.txt
!src/pycali/cdnest/
!src/pycali/cdnest/*.[ch]
!src/pycali/cdnest/CMakeLists.txt
!src/pycali/pycali
!src/pycali/pycali/*.[hc]pp
!src/pycali/pycali/CMakeLists.txt
!setup.py
!param.txt
!example.py
!example_mock.py
!.gitignore
!README.rst
!plot_for_cali.py
!LICENSE
!docs/
!docs/conf.py
!docs/*.rst
!docs/_static
!docs/_static/*.jpg
!docs/intro_pycali.pdf
!docs/.readthedocs.yaml
!docs/requirements.txt
!src/pycali/cblas
!src/pycali/cblas/*
!src/pycali/lapacke 
!src/pycali/lapacke/*
!tests/
tests/*
!tests/pycali
!tests/cali
tests/pycali/*
tests/cali/*
!tests/pycali/*.csv
!tests/pycali/tests_mrk335.py
!tests/pycali/tests_mrk335.ipynb
!tests/cali/*.csv
!tests/cali/param.txt
!tests/cali/param_new.txt
!tests/cali/tests_mrk335.ipynb
